<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enableForFrames</string>
		<key>Title</key>
		<string>Enable in embedded maps</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>invertScroll</string>
		<key>Title</key>
		<string>Invert Scroll</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>invertZoom</string>
		<key>Title</key>
		<string>Invert Zoom</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>frameRequireFocus</string>
		<key>Title</key>
		<string>Embedded maps require activation</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>isolateZoomScroll</string>
		<key>Title</key>
		<string>Detect Finger Lift (slightly unstable)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>50</real>
		<key>Key</key>
		<string>scrollSpeed</string>
		<key>Title</key>
		<string>Scrolling speed</string>
		<key>Type</key>
		<string>Slider</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>clickOptions</string>
		<key>Title</key>
		<string>Click here to test your configurations</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
